<!DOCTYPE html>
<html>

<head>
    <title>Lokacije</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link href="/stylesheets/AdminDashboard.css" rel="stylesheet" type="text/css"/>

</head>

<body>
<div class="container-fluid h-100">
    <div class="row h-100">

        <!--            User panel (left size)      -->
        {{> adminPanel}}

        <!--            User activities - double click to show more info in new panel    -->
        <div class = "col userActivities">

            <div class = "row">
                <div class = "col">
                    <h3 style = "margin-bottom: 30px">Lokacije</h3>
                </div>
                <div class = "col-6 col-md-3" style="text-align: right">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="search" placeholder="Iskanje">
                    </div>
                </div>

            </div>

            <div class = "row">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Lokacija</th>
                        <th scope="col">Komentarji</th>
                        <th scope="col">Ocena</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>FRI 123</td>
                        <td>12</td>
                        <td>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                            <span class="icon">★</span>
                        </td>
                        <td>Objavljeno</td>
                        <td>
                            <a href = "#" data-toggle="modal" data-target="#detailView">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Halo Janez</td>
                        <td>4</td>
                        <td>
                            <span class="icon">★</span>
                        </td>
                        <td>Ni aktivno</td>
                        <td>
                            <a href = "#" data-toggle="modal" data-target="#detailView">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<!--    Modal for showing correction details-->
<div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="detailView">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Podrobnosti elementa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class = "modal-body">
                <h6 style = "margin-bottom: 25px"><i>4.10.2019, objavljeno</i></h6>

                <form>
                    <div class="form-group">
                        <label for="name">Naziv</label>
                        <input type="text" class="form-control" id="name" value="FRI 123 menza">
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <select class="form-control" id="status">
                            <option>objavljeno, aktivno</option>
                            <option>objavljeno, neaktivno</option>
                            <option>neaktivno</option>
                            <option>na čakanju</option>
                            <option>arhivirano</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="locationStreet">Lokacija</label>
                        <input type="text" class="form-control" id="locationStreet" value="Večna pot 133">
                        <input type="text" class="form-control" id="locationCity" value="1000 Ljubljana">
                    </div>

                    <div class="form-group">
                        <label for="openingHours">Odpiralni čas</label>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <form>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Ponedeljek:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Torek:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Sreda:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Četrtek:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Petek:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Sobota:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                    <div class="separate-2"></div>
                                    <div class="form-row day-row">
                                        <div class="col-md-4 day-label">
                                            <span>Nedelja:</span>
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Od" min="0" max="24">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="number" class="form-control hour-form" placeholder="Do" min="0" max="24">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <h6>Dodatni atributi</h6>
                    <div class="form-group">

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="studentsMenu">
                            <label class="form-check-label" for="studentsMenu">
                                Študentski boni
                            </label>
                        </div>

                        <input type="text" class="form-control" id="studentsPay" placeholder="Doplačilo" value="2,20€">
                    </div>

                    <div class="form-group">
                        <label for="additionalInformations">Dodatne informacije</label>
                        <textarea class="form-control" id="additionalInformations" rows="5">Vsak 5. obrok brezplačen za člane Študentskih ugotnosti</textarea>
                    </div>

                    <button class="btn btn-success" type="submit" data-dismiss="modal">Posodobi</button>

                </form>
            </div>
        </div>
    </div>
</div>

<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>

</html>