<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="stylesheets/RestaurantView.css">
    <title>{{title}}</title>
</head>
<body>

<main role="main">

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="images/slika1.jpg" alt="First slide">
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div>

                <h1>Ime Restavracije</h1>
                <h2>Opis</h2>
                <p>{{opis}}</p>

            </div>
        </div>
    </div>

    <div class="jumbotron mb-5" >
        <div class="container ">
            <div class="row mt-4">

                <h2>Urnik</h2>
                <table style="width:100%">
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                    </tr>
                    <tr>
                    {{#each timeTable as |dan|}}
                        <td>{{dan}}</td>
                    {{/each}}
                    </tr>
                </table>
            </div>



        </div>
    </div>



</main>

<div class="container">
    <div class="row mt-4 justify-content-end mt-2 ">
        <a class="btn btn-primary btn-lg" href="CommentPage" role="button">Glej komentarje</a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="javascripts/popper.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>