<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nastavitve uporabnika</title>

    <link href="/stylesheets/UserPageStyle.css" rel="stylesheet" type="text/css"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>

<script type="text/javascript">
    var leftPanel = document.getElementById("leftBar-template").innerHTML;
    var template = hbs.compile(leftPanel);

    var leftBar = template({
        name: "Jakob"
    });
    document.getElementById('leftBar').innerHTML += leftBar;
</script>

<div class="container-fluid h-100">
    <div class="row h-100">
        {{> UserSettingsPanel}}

        <!--            User activities - double click to show more info in new panel    -->
        <div class = "col userActivities" style="filter: blur(6px)">
            <h3 style = "margin-bottom: 25px">Zadnje uporabnikove aktivnosti</h3>

            <div class = "list-group tableActivities">

                <!--                    Example of published comment        -->
                <a href="#" class = "list-group-item list-group-item-action list-group-item-success">
                    <div class = "container-fluid tableElement">
                        <div class = row>
                            <div class = "col-4 col-md-1">
                                13.10
                            </div>
                            <div class = "col-8 col-md-3">
                                FRI 123 Menza
                            </div>
                            <div class="col-12 col-md-6">
                                Hrana bi lahko bila boljša, osebje odlično
                            </div>
                            <div class="col-6 col-md-2">
                                Komentar
                            </div>
                        </div>
                    </div>
                </a>

                <!--                    Example of published rating     -->
                <a href="#" class = "list-group-item list-group-item-action">
                    <div class = "container-fluid tableElement">
                        <div class = row>
                            <div class = "col-4 col-md-1">
                                13.10
                            </div>
                            <div class = "col-8 col-md-3">
                                FRI 123 Menza
                            </div>
                            <div class="col-12 col-md-6">

                                <form class="rating">
                                    <label>
                                        <input type="radio" name="stars" value="1" />
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="2" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="3" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="4" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="stars" value="5" />
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                        <span class="icon">★</span>
                                    </label>

                                </form>

                            </div>
                            <div class="col-6 col-md-2">
                                Ocena
                            </div>
                        </div>
                    </div>
                </a>

                <!--                    Example of changed data that is currently processed by admin team-->
                <a href="#" class = "list-group-item list-group-item-action list-group-item-warning">
                    <div class = "container-fluid tableElement">
                        <div class = row>
                            <div class = "col-4 col-md-1">
                                13.10
                            </div>
                            <div class = "col-8 col-md-3">
                                FRI 123 Menza
                            </div>
                            <div class="col-12 col-md-6">
                                <i>Spremenjen delovni čas</i>
                            </div>
                            <div class="col-6 col-md-2">
                                Popravek <i>(v obdelavi)</i>
                            </div>
                        </div>
                    </div>
                </a>

                <!--                    Example of changed data that was refused by admin team-->
                <a href="#" class = "list-group-item list-group-item-action list-group-item-danger">
                    <div class = "container-fluid tableElement">
                        <div class = row>
                            <div class = "col-4 col-md-1">
                                13.10
                            </div>
                            <div class = "col-8 col-md-3">
                                FRI 123 Menza
                            </div>
                            <div class="col-12 col-md-6">
                                <i>Spremenjen naslov - neveljaven naslov</i>
                            </div>
                            <div class="col-6 col-md-2">
                                Popravek <i>(zavrnjen)</i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>